.alphabet-selector-container {
  width: 100%;
}

.alphabet-selector {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px;
}

.alphabet-item {
  list-style-type: none;
}

.alphabet-item button {
  font-family: 'Comic Sans MS', arial;
  font-size: 15px;
  margin: 0px 5px;
  padding: 0px 10px;
  border: 1px solid black;
}