@font-face {
  font-family: 'badaboom_bb';
  src: local('badaboom_bb'), url('./fonts/BADABB__.TTF');
  font-weight: normal;
  font-style: normal;
}

/* ======================================================= */
.characters-container {
  position: absolute; 
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.searchform-container {
  position: relative;
  width: 98%;
  margin: 0 auto;
  padding: 0px;
  top: 45px;
}

.characters-container h2 {
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-weight: 100;
  background-color: black;
  color: white;
}

.character-info {
  position: fixed;
  width: 98%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0px;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
}

.character-info ul {
  margin: 0px;
  padding: 0px;
}

/* ======================================================= */
/* CONST CHARACTERINFO */
.character-list-item {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid black;
}

.character-item {
  margin: 0px;
  padding: 0px;
}
.character-item h3, h4 { 
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-weight: 100;
}
.character-item h4, p, ul {
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-weight: 100;
}

.character-header {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  border: 1px solid green;
}
.character-header h3 { 
  display: flex; 
  margin: 0px 0px 0px 5px;
  padding: 0px;
  font-family: arial;
  font-weight: 100;
}

/* Inner part of the element */
.character-item-info-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}

.character-thumbnail {
  display: flex;
  /* width: 120px; */
  height: 125px;
  margin: 0px;
  padding: 5px;
}
.no-thumbnail {
  font-size: 6px;
}

.character-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 5px;
  font-size: 10px;
}

.character-urls {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 5px;
  font-size: 10px;
  border-top: 1px solid black;
}
.character-urls ul, li {
  list-style-type: none;
}

.attributionText {
  margin: 0px;
  padding: 5px;
  font-size: 6px;
  border-top: 1px solid black;
}

/* ======================================================= */
/* DESKTOP DESIGNS */
/* .characters-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
}
.characters-container h2 {
  text-align: center;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
}

.character-dummy-info {
  margin: 10px;
  padding: 0px;
}

.character-dummy-info ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.character-list-item {
  width: 98%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  list-style-type: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.character-item {
  width: 100%;
  margin: 00px 0px 5px 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.character-item h3, h4 { 
  font-family: arial;
}
.character-item h3, h4, p, ul {
  margin: 0px;
  padding: 0px 5px 5px 5px;
  display: flex;
} */

/* ================================================ */
/* Character-item children */
/* .character-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: darkblue;
  color: yellow;
}

.character-description {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 5px;
}

.character-urls {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 5px;
}

.attributionText {
  font-size: 6px;
} */