@font-face {
  font-family: 'badaboom_bb';
  src: local('badaboom_bb'), url('./fonts/BADABB__.TTF');
  font-weight: normal;
  font-style: normal;
}

.characters-container {
  margin: 0px;
  padding: 0px;
  border: 1px solid orange;
}

.characters-container h2 {
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

.character-info {
  margin: 0px;
  padding: 0px;
  border: 1px solid blue;
}

.character-info ul {
  margin: 0px;
  padding: 0px;
}

.character-list-item {
  margin: 0px;
  padding: 0px;
}

.character-item {
  margin: 0px;
  padding: 0px;
}
.character-item h3, h4 { 
  margin: 0px;
  padding: 0px;
}
.character-item h3, h4, p, ul {
  margin: 0px;
  padding: 0px;
}

.character-header {
  margin: 0px;
  padding: 0px;
}

.character-description {
  margin: 0px;
  padding: 0px;
}

.character-urls {
  margin: 0px;
  padding: 0px;
}

.attributionText {
  margin: 0px;
  padding: 0px;
  font-size: 6px;
}

/* .characters-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
}
.characters-container h2 {
  text-align: center;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
}

.character-dummy-info {
  margin: 10px;
  padding: 0px;
}

.character-dummy-info ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.character-list-item {
  width: 98%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  list-style-type: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.character-item {
  width: 100%;
  margin: 00px 0px 5px 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.character-item h3, h4 { 
  font-family: arial;
}
.character-item h3, h4, p, ul {
  margin: 0px;
  padding: 0px 5px 5px 5px;
  display: flex;
} */

/* ================================================ */
/* Character-item children */
/* .character-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: darkblue;
  color: yellow;
}

.character-description {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 5px;
}

.character-urls {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 5px;
}

.attributionText {
  font-size: 6px;
} */