.characters {
  background-image: url('./images/marvelCharacters.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 98%;
  height: 150px;
}

.form-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0px;
}

.dashboard-button {
  width: 100%;
  margin: 0px;
  padding: 5px 0px;
  font-family: arial;
  background-color: black;
  color: white;
  border: 1px solid black;
}