@font-face {
  font-family: 'badaboom_bb';
  src: local('badaboom_bb'), url('./fonts/BADABB__.TTF');
  font-weight: normal;
  font-style: normal;
}

/* ======================================================= */
.comics-container {
  position: absolute; 
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.comics-search-container {
  position: relative;
  width: 98%;
  margin: 0 auto;
  padding: 0px;
  top: 45px;
}

.comics-container h2 {
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-weight: 100;
  background-color: black;
  color: white;
}

.comic-info {
  position: fixed;
  width: 98%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0px;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
}

.comic-info ul {
  margin: 0px;
  padding: 0px;
}

/* ======================================================= */
/* CONST COMICINFO */
.comic-images-item {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid black;
}

.image-container {
  margin: 0px 0px 5px 0px;
  padding: 0px;
  border-bottom: 1px solid black;
}

.image-container h4 {
  margin: 0px;
  padding: 3px;
  font-family: arial;
  font-weight: 100;
  background-color: black;
  color: white;
}

.image-container p {
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-weight: 100;
  font-size: 10px;
}

.image-container img {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  max-height: 100%;
}

.comic-attributionText {
  margin: 0px;
  padding: 0px;
  font-size: 6px;
} 

/* .comics-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.comics-container h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'badaboom_bb';
}

.comic-info {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.comic-images-item {
  position: relative;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  width: 100px;
}
.image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 0px;
  width: 160px;
  height: 240px;
}
.image-container h4 {
  margin: 0px;
  padding: 0px;
  font-family: arial;
}
.image-container p {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
}
.image-container img:hover {
  box-shadow:  0 6px 10px 0 grey;
}

.comic-attributionText {
  font-size: 6px;
} */
