.dashboard-container {

}

.db-navigation-container {

}

.dashboard {
  
}
/* .dashboard-container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.db-navigation-container {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0px;
}

.dashboard {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  top: 15%;
}

.dashboard h1 {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: arial;
} */

/* ================================================ */
/* .characters-form-container {
  background-image: url('./images/marvelCharacters.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 500px;
  height: 400px;
}
.characters-form-container form {
  width: 100%;
}
.characters-button {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 10px;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
  font-size: calc(10px + 2vmin);
  background-color: darkred;
  color: yellow;
} */

/* ================================================ */
/* .comics-form-container {
  background-image: url('./images/marvel-comics.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 500px;
  height: 400px;
}
.comics-form-container form {
  width: 100%;
}
.comics-button {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 10px;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
  font-size: calc(10px + 2vmin);
  background-color: darkred;
  color: yellow;
} */
