/* DEFAULT STYLES ARE FOR IPHONE 5/SE */
.landing-page {
  background-image: url('./images/marvelcollage.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  height: 568px;
  padding: 0px;
}

.landing-page-info-container {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 200px;
  margin: 0 auto;
}

.landing-page-info {
  z-index: 10;
  width: 275px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
}
.landing-page-info span, p{
  padding: 5px;
}

.landing-page-form {
  z-index: 10;
  width: 200px;
  padding: 0px;
  margin: 0 auto;
}

.marvel-button {
  display: flex;
  margin: 0px;
  padding: 10px;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
  font-size: calc(10px + 2vmin);
  background-color: darkred;
  color: yellow;
}