@font-face {
  font-family: 'badaboom_bb';
  src: local('badaboom_bb'), url('./fonts/BADABB__.TTF');
  font-weight: normal;
  font-style: normal;
}

/* DEFAULT STYLES ARE FOR IPHONE 5/SE */
.landing-page {
  background-image: url('./images/marvelcollage.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  height: 568px;
  padding: 0px;
}

.landing-page-info-container {
  position: fixed;
  top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding: 0px;
}

.landing-page-info {
  z-index: 10;
  width: 250px;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid black;
}
.landing-page-info h1 {
  font-family: 'badaboom_bb', arial;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.landing-page-info span, p {
  font-family: arial;
  padding: 5px;
}

.landing-page-form {
  z-index: 10;
  width: 200px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 25px;
}

.marvel-button {
  display: flex;
  margin: 0px;
  padding: 10px;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
  font-size: calc(10px + 2vmin);
  background-color: darkred;
  color: yellow;
}

/* BIGGER THAN MOBILE */
@media only screen and (min-width: 310px) {
  .landing-page {
    background-image: url('./images/marvelcollage.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    height: 1000px;
    padding: 0px;
  }
}