@font-face {
  font-family: 'badaboom_bb';
  src: local('badaboom_bb'), url('./fonts/BADABB__.TTF');
  font-weight: normal;
  font-style: normal;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  background-color: red;
}

.navigation-container h1 {
  margin: 0px 0px 0px 10px;
  padding: 0px;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
  color: white;
}

.return-button {
  margin: 2px;
  padding: 0px 10px;
  font-family: arial;
  background-color: red;
  color: white;
  border: 1px solid white;
}

/* 
.navigation-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
  background-color: darkred;
  font-size: calc(10px + 2vmin);
  color: yellow;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
}

.navigation-container h1 {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
}

.return-button {
  display: flex;
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 0px;
  font-family: arial;
  letter-spacing: 4px;
  font-size: calc(10px + 2vmin);
  background-color: darkred;
  color: yellow;
  border: 1px solid darkred;
} */