@font-face {
  font-family: 'badaboom_bb';
  src: local('badaboom_bb'), url('./fonts/BADABB__.TTF');
  font-weight: normal;
  font-style: normal;
}

.navigation-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  background-color: #ED1D24;
}

.navigation-container h1 {
  margin: 0px 0px 0px 5px;
  padding: 5px;
  font-family: 'badaboom_bb';
  letter-spacing: 4px;
  color: white;
}

.links-container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
.links-container ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
.links-container li {
  margin: 0px 5px 0px 0px;
  padding: 10px;
  text-align: center;
}

/* Links container div-buttons */
.nav-button {
  margin: 0px;
  padding: 0px;
}
/* Link from react-router-dom is an anchor tag*/
.nav-button a { 
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  color: white;
  font-family: arial;
  font-weight: 100;
  text-decoration: none;
}
