@font-face {
  font-family: 'badaboom_bb';
  src: local('badaboom_bb'), url('./fonts/BADABB__.TTF');
  font-weight: normal;
  font-style: normal;
}

.search-container {
  margin: 0px;
  padding: 0px;
}

.search-form-container {
  margin: 0px;
  padding: 0px;
}

.search-form-container form {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */
}

.search-form-container input {
  width: 80%;
  margin: 0px;
  padding: 5px;
  /* border: 1px solid black; */
}

.search-button {
  width: 10%;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */
}

.character-alphabet-search-container {
  display: flex;
  justify-content: row;
  margin: 0px;
  padding: 0px;
}
.character-ab-search {
  display: flex;
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
}
.character-ab-search ul {
  margin: 0px;
  padding: 0px;
}
.character-ab-search-li {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.character-alphabet-search-button {
  margin: 0px;
  padding: 5px 15px;
  /* border: 1px solid black; */
}

/* .search-container {
  display: block;
  width: 100%;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.search-form-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 50px;
  margin: 0 auto;
  padding: 0px;
}

.search-form-container form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.search-form-container input {
  display: flex;
  width: 80%;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.search-button {
  display: flex;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  font-family: arial;
  text-align: center;
  letter-spacing: 4px;
  font-size: calc(10px + 2vmin);
  background-color: darkred;
  color: yellow;
}

.character-alphabet-search-container {
  display: flex;  
  margin: 20px 0px;
}
.character-ab-search {
  width: 85%;
  margin: 0 auto;
}
.character-ab-search ul {
  list-style-type: none;
  text-decoration: none;
}
.character-ab-search-li {
  list-style-type: none;
  text-decoration: none;
}
.character-alphabet-search-button {
  margin: 0px 5px;
  padding: 0px;
  width: 30px;
  height: 30px;
} */