.App {
  background-color: #282c34;  
}

.App-header {
  background-color: darkred;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px;
  padding: 0px;
}

.App-header h1 {
  margin: 0px;
  padding: 10px 0px;
}